<div class="searchBar">
    {{ form_start(form) }}
    {{ form_widget(form.city) }}
    {{ form_widget(form.nb) }}
    {{ form_widget(form.baptismDate) }}
    {{ form_widget(form.service) }}
    {{ form_widget(form.restaurant) }}
    <button>{{ 'baptism.search.submit' | trans }}</button>
    {{ form_end(form) }}
</div>