{% extends 'app/layout.html.twig' %}
{% trans_default_domain 'baptism_guest' %}
{% block content %}
    <div id="headerBack" class="container-fluid"></div>
    <section id="baptismReservation" class="container-fluid">
        <div id="avatar">
            <div id="pictureUpload">
                {% if avatar != null %}
                    <img src="{{ asset('uploads/users_avatar/' ~ avatar) }}"/>
                {% else %}
                    <img src="{{ asset('uploads/users_avatar/default/avatar.jpg') }}"/>
                {% endif %}
            </div>
        </div>


        <h2>Baptême de {{ baptism_has_user.user.firstName |title ~ ' ' ~ baptism_has_user.user.lastName |title }}</h2>
        {% for picture in restoPicture %}
            {% if loop.first %}
                <div id="restoImg" class="img-responsive"
                     style='background:url({{ asset("uploads/restaurants/" ~  picture.name) }});background-size: cover; background-position: center'>
                    <div id="opacity">
                    </div>
                    <h3>{{ baptism_has_user.baptism.restaurant.name|title }}</h3>
                </div>
            {% endif %}
        {% endfor %}
        <div id="reserFlex">
            <div id="reserInfo">
                <h3>{{ baptism_has_user.user.firstName |title ~ ' ' ~ baptism_has_user.user.lastName |title }} {{ 'inviting_guest' |trans }}</h3>
                <p>Rendez-vous le {{ baptism_has_user.baptism.date |date('d/m/Y') }}
                    au {{ baptism_has_user.baptism.restaurant.name|title }}<br/>
                    pour le service du {{ baptism_has_user.baptism.service.name }}<br/>
                </p>
                {# Number of guests #}
                <p>Nombre de convives : {{ guestCount }}</p>

                {#
                    If User is authenticated :
                        - If he is not yet participating to the baptism as baptised or guest :
                            - He can add 1..4 guests to the baptism
                        - Else if he is already a guest :
                            - He can cancel reservation for 1..<number_of_reservation_he_made_before> people
                        - Else :
                            - He gets a message that he can't make reservation on his own baptism
                            - He gets a link to his profile where he will be able to invite contacts throught mail or fb
                    Else :
                        - SignUp/SignIn links are displayed
                #}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if baptism_has_current_user.role == "none" %}
                        <p>{{ 'number_of_guest' |transchoice(guestCount, {"guestCount": guestCount}) }}</p>
                        {{ form_start(form) }}
                        {{ form_widget(form.guestCount) }}
                        <button
                                id="guestConfirm"
                                name="confirm"
                                type="button"
                                data-toggle="modal"
                                data-target="#validationModal">{{ 'reserve' |trans }}
                        </button>

                        {% include 'app/baptism_has_user/modals/modal_guest_validation.html.twig' with {'baptism_has_user': baptism_has_user, 'form' : form} %}

                        {{ form_end(form) }}
                    {% elseif baptism_has_current_user.role == "guest" %}
                        {# Here will be the button to self-remove from guests #}
                        <p>{{ 'number_of_guest_invited' |transchoice(baptism_has_current_user.baptismHasUser.guestCount, {"guestInvited": baptism_has_current_user.baptismHasUser.guestCount}) }}</p>
                        <p>{{ 'asking_for_removal.guest' |trans }}
                            {{ form_start(form) }}
                            {{ 'need_for_cancel' |trans }}
                            {{ form_widget(form.guestCount) }}
                            {{ 'guests_invited' | transchoice(baptism_has_current_user.baptismHasUser.guestCount, {"guestInvited": baptism_has_current_user.baptismHasUser.guestCount}) }}</p>
                        <button
                                id="guestConfirm"
                                name="confirm"
                                type="button"
                                data-toggle="modal"
                                data-target="#validationModal">{{ 'confirm' |trans }}
                        </button>

                        {% include 'app/baptism_has_user/modals/modal_guest_cancel.html.twig' with {'baptism_has_user': baptism_has_user, 'form' : form} %}

                        {{ form_end(form) }}
                    {% else %}
                        <p>{{ 'baptised_text.guest' |trans }}</p>
                        <a href="#">{{ 'asking_for_invite.baptised' |trans }}</a> ?
                    {% endif %}

                {% else %}

                    <a href="{{ path('fos_user_security_login') }}">{{ 'sign.in' |trans({}, 'user') }}</a>
                    <a href="{{ path('fos_user_registration_register') }}">{{ 'sign.up' |trans({}, 'user') }}</a>

                {% endif %}
            </div>
            <div class="reservMap">
                <iframe
                         width="100%"
                         height="300px"
                         frameborder="0"
                         style="border:0;"
                         class="grayscale"
                        
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-rF-Vq2l82L91CVwjkQXVJSRGYeBczFo&q={{ baptism_has_user.baptism.restaurant.address ~' '~ baptism_has_user.baptism.restaurant.postalCode ~' '~ baptism_has_user.baptism.restaurant.city }}%20France"
                        allowfullscreen>
                    
                </iframe>

                
            </div>
        </div>
    </section>


{% endblock %}