{% extends 'app/layout.html.twig' %}

{% trans_default_domain "restaurant" %}

{% block content %}
    <!-- header section -->
    <section class="container-fluid" id="ourRestaurants">
            <h1>
                {{ 'restaurant_mainTitle' |trans |upper }}
            </h1>
    </section>

    <!-- first mozaic section including search bar and map -->
    <section class="container-fluid" id="restaurantSearch">
        <div class="row">

            <div class="col-md-6 restaurantSearch-block">
                <h1>{{ 'restaurant_searchBar' |trans |upper }}</h1>
                <!-- search bar goes here -->
            </div>
            <div class="col-md-6 restaurantSearch-block">
                <!-- map goes here -->
            </div>


            <div class="col-md-4 restaurantSearch-mozaic">
                <a href="#">
                    <div class="restaurantSearch-mozaic--inside">
                        <h2>{{ 'restaurant_name' |trans |upper }}</h2>
                            <p>{{ 'restaurant_address' |trans |upper }}</p>
                        <button>
                            {{ 'restaurant_restaurantButton' |trans |upper }}
                        </button>
                    </div>
                </a>
            </div>

        </div>
    </section>

{% endblock %}