{% extends 'base.html.twig' %}

{% block body %}
    <h1>Baptisms list</h1>
    <div class="container">
        <div class="row">
            {% for baptism in baptisms %}
                <div class="col-sm-4">
                    <p>Statut : {{ baptism.status }}</p>
                    <p>Places : {{ baptism.places }}</p>
                    <p>Date : {{ baptism.date |date }}</p>
                    <p>Service : {{ baptism.service.name }}</p>
                    <p>Restaurant : {{ baptism.restaurant.name }}</p>
                    <p>Reference : {{ baptism.reference }}</p>
                    <a href="{{ path('baptism_purchase', {reference: baptism.reference}) }}">Select</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}