{% extends 'base.html.twig' %}

{% block body %}
    <h1>Baptisms list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Service</th>
                <th>Status</th>
                <th>Date</th>
                <th>Places</th>
                <th>Restaurant</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for baptism in baptisms %}
            <tr>
                <form action="{{ path('baptism_select') }}" method="post">
                    <td>{{ baptism.id }} <input type="number" name="id" hidden value="{{ baptism.id }}"> </td>
                    <td>{{ baptism.service.name }}<input type="number" name="service_id" hidden value="{{ baptism.service.id }}"></td>
                    <td>{{ baptism.status }} <input type="text" name="status" hidden value="{{ baptism.status }}"></td>
                    <td>{% if baptism.date %}{{ baptism.date|date('Y-m-d') }}{% endif %}<input type="date" name="date" hidden value="{{ baptism.date|date('Y-m-d') }}"></td>
                    <td>{{ baptism.places }}<input type="number" name="places" hidden value="{{ baptism.places }}"></td>
                    <td>{% if baptism.restaurant.name %}{{ baptism.restaurant.name }}{% endif %}<input type="number" name="restaurant_id" hidden value="{{ baptism.restaurant.id }}"></td>
                    <td>
                        <input type="text" name="origin" hidden value="select">
                        <input type="submit" value="Your Choice">
                    </td>
                </form>
            </tr>
        {% endfor %}
        <tr>
            <form action="{{ path('baptism_select') }}" method="post">
                <td>Nouveau<input type="number" name="id" hidden value="-1"></td>
                <td>midi<input type="number" name="service_id" hidden value="1"></td>
                <td>Pending<input type="text" name="status" hidden value="Pending"></td>
                <td>2017-02-02<input type="date" name="date" hidden value="2017-02-02"></td>
                <td>3<input type="number" name="places" hidden value="3"></td>
                <td>wild restaurant<input type="number" name="restaurant_id" hidden value="1"></td>
                <td>
                    <input type="text" name="origin" hidden value="select">
                    <input type="submit" value="Your Choice">
                </td>
            </form>
        </tr>
        </tbody>
    </table>

{% endblock %}
