{% extends 'base.html.twig' %}
{% trans_default_domain 'baptism_home' %}
{% block body %}

<section class="container-fluid" id="baptismChefHeader">
    <div class="row">
        <h1>
            {{ 'boc.title' |trans |upper }}
            <br>
            <span class="subtitle">{{ 'boc.video_launch' |trans |upper }}</span>
        </h1>
        <a href="#myvideo" class="afterglow" >
            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
            {% include 'app/baptism/modals/modal_home_video.html.twig' %}
        </a>
        <div class="searchBar">
            {{ form_start(form) }}
            {{ form_widget(form.city) }}
            {{ form_widget(form.nb) }}
            {{ form_widget(form.baptismDate) }}
            {{ form_widget(form.service) }}
            {{ form_widget(form.restaurant) }}
            <button>{{ 'baptism.search.submit' |trans |capitalize }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</section>
<section class="container-fluid" id="baptismChefExplanation">
    <h2>{{ 'boc_explanation.title' |trans |upper }}</h2>
        <ul>
            <li>{{ 'boc_explanation.first_row' |trans |upper }}</li>
            <li>{{ 'boc_explanation.second_row' |trans |upper }}</li>
            <li>{{ 'boc_explanation.third_row' |trans |upper }}</li>
            <li>{{ 'boc_explanation.fourth_row' |trans |upper }}</li>
            <li>{{ 'boc_explanation.fifth_row' |trans |upper }}</li>
        </ul>
        <div>{{ 'boc_explanation.price' |trans |upper }}</div>
</section>
<section id="baptismChefGift">
    <h2>{{ 'boc_gift.title' |trans |upper }}</h2>
    <a href="#">{{ 'boc_gift.link' |trans |upper }}</a>
</section>
<section id="baptismChefFoodys">
    <h2>
        {{ 'boc_foodys.title' |trans |upper }}
        <br>
        <span class="subtitle">{{ 'boc_foodys.subtitle' |trans |upper}}</span>
    </h2>
    <a href="#">{{ 'boc_foodys.link' |trans |upper }}</a>
</section>


{% endblock %}