{% extends 'app/layout.html.twig' %}
{% trans_default_domain 'baptism_purchase' %}

{% block content %}

    <section id="baptismPurchase">
        <header>
            <div class="header-title">
                <h1>{{ 'baptism.purchase' |trans |upper }}</h1>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card">
                            <div class="title-card text-center">{{ 'baptism_chef.title' |trans |upper }}</div>
                            <div class="card-content">
                                <div class="media">
                                    {% for media in baptism.restaurantMedia %}
                                        {% if loop.first %}
                                            <img src="{{ asset('uploads/restaurants/' ~ media.name) }}">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="info">
                                    <h2 class="text-center">{{ baptism.restaurantName |title }}</h2>
                                    <p>{{ 'date' |trans |capitalize }} {{ baptism.date |localizeddate('long', 'none') }}.</p>
                                    <p>{{ 'service' |trans |capitalize }} {{ baptism.serviceName }}</p>
                                    <div class="text-center">
                                        {% if app.user %}
                                            <button
                                                    id="paymentConfirm"
                                                    name="confirm"
                                                    type="button"
                                                    data-toggle="modal"
                                                    data-target="#paymentModal">{{ 'confirm' |trans |capitalize }}
                                            </button>
                                        {% else %}
                                            {{ 'need_to_connect' |trans }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="map">
                                    <iframe
                                            width="100%"
                                            height="300px"
                                            frameborder="0"
                                            style="border:0;"
                                            class="grayscale"
                                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA-rF-Vq2l82L91CVwjkQXVJSRGYeBczFo&q={{ baptism.restaurantAddress }}%20France" allowfullscreen>
                                    </iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a class="btn btn-default" href="{{ path('baptism_page') }}">{{ 'back_to_search' |trans |capitalize }}</a>
                </div>
            </div>
        </div>
    </section>
    {% include 'app/baptism/modals/modal_payment.html.twig' %}
{% endblock %}