{% extends 'app/layout.html.twig' %}

{# translation default file for this view#}
{% trans_default_domain 'homepage' %}

{% block content %}
    <div class="wrapper">
       <div class="container homeHeader">
              <div class="row">
                  <div class="col-md-12">
                      <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 homeHeader-text">
                          <h1 class="homeHeader-title">{{ 'home_mainTitle' |trans |upper }}</h1>
                          <p class="homeHeader-p">{{ 'home_intro' |trans |upper }}</p>
                      </div>
                      <div class="col-md-offset-3 col-md-6 homeHeader-buttonInfo">
                          <button id="homeHeader-knowMore" class="homeHeader-buttonInfo--size" data-toggle="collapse" href="#collapsePresentation" aria-expanded="false" aria-controls="collapsePresentation">
                              {{ 'home_buttonInfo' |trans }}
                          </button>
                      </div>
                  </div>
              </div>
       </div>
       <div class="container brandPresentation" id="conceptPresentation">
           <div class="row collapse" id="collapsePresentation">
               <div class="col-md-12 brandPresentation-firstBlock">
                   <h1 class="brandPresentation-title">{{ 'home_secondTitle' |trans |upper }}</h1>
               </div>
               <div class="col-xs-12 col-md-4 brandPresentation-alignBlock" >
                   <img class="brandPresentation-icone" src="{{ asset('img/home_icone1.png') }}"/>
                   <p class="brandPresentation-text">{{ 'home_presentation_p1' |trans }}</p>
               </div>
               <div class="col-xs-12 col-md-4 brandPresentation-alignBlock">
                   <img class="brandPresentation-icone" src="{{ asset('img/home_icone2.png') }}"/>
                   <p class="brandPresentation-text">{{ 'home_presentation_p2' |trans }}</p>
               </div>
               <div class="col-xs-12 col-md-4 brandPresentation-alignBlock">
                   <img class="brandPresentation-icone" src="{{ asset('img/home_icone3.png') }}"/>
                   <p class="brandPresentation-text">{{ 'home_presentation_p3' |trans }}</p>
               </div>
           </div>
       </div>
       <div class="container homeMozaic">
           <div class="row">
               <div class="col-xs-12 col-md-6 homeMozaic-block homeMozaic--bgImage1">
                   <div class="col-md-12 hoverAction">
                       <a href="{{ path('baptism_page') }}">
                           <div class="homeMozaic-blockText">
                               <h3 class="homeMozaic-title homeMozaic-title--size">{{ 'home_mozaic1_h3' |trans |upper }}</h3>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="col-xs-12 col-md-6 homeMozaic-block homeMozaic--bgImage2">
                   <div class="col-md-12 hoverAction">
                       <a href="">
                           <div class="homeMozaic-blockText">
                               <h3 class="homeMozaic-title homeMozaic-title--size2 " >{{ 'home_mozaic2_h3' |trans |upper }}</h3>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="col-xs-12 col-md-6 homeMozaic-block homeMozaic--bgImage3">
                   <div class="col-md-12 hoverAction">
                       <a href="{{ path('app_estimate') }}">
                           <div class="homeMozaic-blockText">
                               <h3 class="homeMozaic-title homeMozaic-title--size">{{ 'home_mozaic3_h3' |trans |upper }}</h3>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="col-xs-12 col-md-6 homeMozaic-block homeMozaic--bgImage5">
                   <div class="col-md-12 hoverAction">
                       <a href="">
                           <div class="homeMozaic-blockText">
                               <h3 class="homeMozaic-title homeMozaic-title--size">{{ 'home_mozaic5_h3' |trans |upper }}</h3>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="col-xs-12 col-md-6 homeMozaic-block homeMozaic--bgImage6">
                   <div class="col-md-12 hoverAction">
                       <a href="{{ path('our_restaurants') }}">
                           <div class="homeMozaic-blockText">
                               <h3 class="homeMozaic-title homeMozaic-title--size">{{ 'home_mozaic6_h3' |trans |upper }}</h3>
                           </div>
                       </a>
                   </div>
               </div>
               <div class="col-xs-12 col-md-6 homeMozaic-block homeMozaic--bgImage7">
                   <div class="col-md-12 hoverAction">
                       <a href="">
                           <div class="homeMozaic-blockText">
                               <h3 class="homeMozaic-title homeMozaic-title--size">{{ 'home_mozaic7_h3' |trans |upper }}</h3>
                           </div>
                       </a>
                   </div>
               </div>
           </div>
       </div>
    </div>
{% endblock %}
