{% extends 'user/layout.html.twig' %}
{% trans_default_domain 'my-orders' %}
{% block content %}

    <h2>{{ 'my_baptisms.title' |trans }}</h2>
    <h3>{{ 'my_next_baptisms.subtitle' |trans }}</h3>

    {% for order in ordersBaptised %}
        {% if loop.first %}

            <p>{{ 'date.title' |trans }} : {{ order.baptismHasUser.baptism.date |date }}</p>
            <p>{{ 'restaurant.title' |trans }} : {{ order.baptismHasUser.baptism.restaurant.name }}</p>
            <p><a href="{{ path('restaurant', {'slug': order.baptismHasUser.baptism.restaurant.slug}) }}">{{ 'my_next_baptism.see_link' |trans }}</a></p>
            <p>{{ 'guestCount.title' |trans }} : {{ 'guestNumber.data' |transchoice(order.guestNumber,{'guestNumber': order.guestNumber}) }}</p>

            {{ form_start(form) }}
            <ul class="emails" data-prototype="{{ form_widget(form.emails.vars.prototype)|e('html_attr') }}"></ul>
            {{ form_end(form) }}

        {% endif %}
    {% endfor %}

    <table>
        <thead>
            <tr>
                <th>{{ 'restaurant.title' |trans }}</th>
                <th>{{ 'date.title' |trans }}</th>
                <th>{{ 'guestCount.title' |trans }}</th>
                <th>{{ 'bill.title' |trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for order in ordersBaptised %}
                {% if order.baptismHasUser.baptism.status == 'done' %}
                    <tr>
                        <td>{{ order.baptismHasUser.baptism.restaurant.name }}</td>
                        <td>{{ order.baptismHasUser.baptism.date |date }}</td>
                        <td>{{ order.guestNumber }}</td>
                        <td>link</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}